.form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;
    max-width: 829px;
    margin: 0 auto;
}

.controls {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
}

.input {
    width: 377px;
}

.queue {
    display: flex;
    flex-direction: row;
    margin: 80px auto 0;
    justify-content: center;
    gap: 16px;
}